<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="active">Inicial</a>
            </li>
            <li>
                <a routerLink="/personagens" routerLinkActive="active">Personagens</a>
            </li>
            <li>
                <a routerLink="/episodios" routerLinkActive="active">Episódios</a>
            </li>
            <li>
                <a routerLink="/localizacoes" routerLinkActive="active">Localizações</a>
            </li>
        </ul>
    </nav>
</header>