<section class="px-4 md:px-10">
    @if (characters.length > 0) {
        <div class="items-baseline justify-between py-5 lg:flex">
            <h1 class="text-xl lg:text-2xl">Personagens de Ricky and Morty</h1>
            <app-search (searchEvent)="searchCharacter($event)"></app-search>
        </div>
        <div class="grid grid-cols-1 gap-12 lg:grid-cols-4">
            <aside class="col-span-4 lg:col-span-1">
                <p>Filtro</p>

                <app-filter
                    (statusEvent)="filterStatus($event)"
                    (genderEvent)="filterGender($event)"
                ></app-filter>
            </aside>

            <div class="col-span-4 lg:col-span-3">
                <ul class="grid grid-cols-1 gap-4 md:grid-cols-1 lg:grid-cols-2">
                    <li *ngFor="let character of characters">
                        <app-card [character]="character"></app-card>
                    </li>
                </ul>
            </div>
        </div>
        <app-pagination
            [currentPage]="currentPage"
            [totalPages]="totalPages"
            (pageChange)="changePage($event)"
        ></app-pagination>
    } @else {
        <p>Carregando...</p>
    }
</section>
