<!-- @if (errorMessage) {
<div>
    <p>{{ errorMessage }}</p>
</div>
} -->

<main class="px-10">
    @if (characters.length > 0) {
    <div class="py-5 flex items-baseline justify-between">
        <h1 class="text-2xl">Personagens de Ricky and Morty</h1>
        <app-search (searchEvent)="searchCharacter($event)"></app-search>
    </div>
    <div>
        <ul class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
            <li *ngFor="let character of characters">
                <a class="flex flex-col rounded-xl bg-gray-200 md:flex-row"
                    [routerLink]="['/personagens', character.id]">
                    <img [src]="character.image" [alt]="character.name"
                        class="h-full w-full rounded-s-none md:h-40 md:w-40 md:rounded-s-lg" />
                    <div class="flex flex-col px-5 py-5">
                        <h2 class="text-2xl font-bold text-white duration-200 ease-in hover:text-yellow">
                            {{ character.name }}
                        </h2>
                        <p class="flex items-center gap-1 text-white">
                            <fa-icon [icon]="faCircle" size="xs" [class.text-green-500]="character.status === 'Alive'"
                                [class.text-yellow]="character.status === 'unknown'"
                                [class.text-red-500]="character.status === 'Dead'" class="block">
                            </fa-icon>
                            {{ character.status | translation }}
                        </p>
                        <p class="text-white">Espécie: {{ character.species }}</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [pageSize]="pageSize"
        [pageSizeOptions]="[10, 20, 50]" (pageChange)="changePage($event)"></app-pagination>
    } @else {
    <p>Carregando...</p>
    }
</main>