<section class="px-4 md:px-10">
    @if (characters.length > 0) {
        <div class="items-baseline justify-between py-5 lg:flex">
            <h1 class="text-xl lg:text-2xl">Personagens de Ricky and Morty</h1>
            <app-search (searchEvent)="searchCharacter($event)"></app-search>
        </div>
        <div class="grid grid-cols-1 gap-12 lg:grid-cols-4">
            <aside class="col-span-4 lg:col-span-1">
                <p>Filtro</p>

                <app-filter
                    (statusEvent)="filterStatus($event)"
                    (genderEvent)="filterGender($event)"
                ></app-filter>
            </aside>

            <div class="col-span-4 lg:col-span-3">
                <ul class="grid grid-cols-1 gap-4 md:grid-cols-1 lg:grid-cols-2">
                    <li *ngFor="let character of characters">
                        <div class="flex flex-col rounded-xl bg-gray-200 md:flex-row">
                            <a [routerLink]="['/personagens', character.id]">
                                <img
                                    [src]="character.image"
                                    [alt]="character.name"
                                    class="h-full w-full rounded-s-none md:h-44 md:w-44 md:rounded-s-lg"
                                />
                            </a>
                            <div class="flex flex-col gap-1 px-4 py-4">
                                <a [routerLink]="['/personagens', character.id]">
                                    <h2
                                        class="text-lg font-bold text-white duration-200 ease-in hover:text-yellow lg:text-xl"
                                    >
                                        {{ character.name }}
                                    </h2>
                                </a>
                                <p class="flex items-center gap-1 text-white">
                                    <fa-icon
                                        [icon]="faCircle"
                                        size="xs"
                                        [class.text-green-500]="character.status === 'Alive'"
                                        [class.text-yellow]="character.status === 'unknown'"
                                        [class.text-red-500]="character.status === 'Dead'"
                                        class="block"
                                    >
                                    </fa-icon>
                                    {{ character.status | statusTranslate }}
                                </p>
                                <p class="text-white">
                                    <b>Espécie: </b>
                                    {{ character.species }}

                                    @if (character.type !== '') {
                                        | {{ character.type }}
                                    }

                                    | {{ character.gender }}
                                </p>
                                <p class="text-white"><b>Origem:</b> {{ character.origin.name }}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <app-pagination
            [currentPage]="currentPage"
            [totalPages]="totalPages"
            (pageChange)="changePage($event)"
        ></app-pagination>
    } @else {
        <p>Carregando...</p>
    }
</section>
