<form (submit)="onSearch(); $event.preventDefault()" class="mb-4 px-4 py-2 lg:p-2">
    <div class="mb-2 bg-white shadow-md">
        <input
            type="text"
            name="search"
            id="search"
            [(ngModel)]="searchQuery"
            placeholder="Pesquise por um personagem"
            (keyup.enter)="onSearch()"
            class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
        />
    </div>
    <div class="flex items-center justify-between">
        <button
            (click)="onSearch()"
            class="rounded border-2 border-gray-200 bg-white px-4 shadow-sm duration-200 ease-in hover:shadow-md"
        >
            Pesquisa
        </button>
        <button
            type="reset"
            class="rounded border-2 border-red-500 px-4 text-red-500 shadow-sm duration-200 ease-in hover:shadow-md"
        >
            Limpar
        </button>
    </div>
</form>
